body {
	box-sizing: border-box;
	font-family: Arial, sans serif;
}
h1 {
	text-align: center;
}
section {
	background: green;
	padding: 20px;
}
.div1 {
	background: blue;
}
.div2 {
	background: red;
}
.div3 {
	background: yellow;
}
.option {
	background: white;
	border: black 2px;
	margin: 5px;
	width: 30px;

/*Large Screen*/
@media (min-width: 992px;) {

}

/*Medium Screen*/
@media (min-width: 768px; max-width: 991px;) {

}

/*Small Screen*/
@media (max-width: 767px;) {

}