* {
	box-sizing: border-box;
	font-family: Arial, sans serif;
	margin: 0px;
	padding: 0px;
}
h1 {
	text-align: center;
	margin: 50px;
}
div {
	float: left;
	border: solid black 1px;
	padding: 0px;
	margin: 1.5%;
	background-color: lightgrey;
}
h2 {
	text-align: center;
	border: solid black 1px;
	width: 150px;
	float: right;
	margin: -1px;
}
#Chicken {
	background-color: lightpink;
}
#Beef {
	background-color: darkred;
	color: ghostwhite;
}
#Sushi {
	background-color: lightgoldenrodyellow;
}
p {
	clear: right;
	margin: 10px;
	margin-top: 40px;
}

/*Large Screen*/
@media (min-width: 992px) {
div {
	float: left;
	width: 30.33%;
	border: solid black 1px;
	padding: 0px;
	margin: 1.5%;
}
}

/*Medium Screen*/
@media (min-width: 768px) AND (max-width:  991px) {
#div1, #div2{
	float: left;
	width: 47%;
	border: solid black 1px;
	padding: 0px;
	margin: 1.5%;
}